body {
  background-image: url('pics/sunrise.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
}

h1 {
  text-align: center;
  color: navy;
}

h3 {
  text-align: center;
  color: navy;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a:hover {
  background-color: #111;
}